body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
.fullscreen-control {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
}
.marker {
  transform: translate(-50%, -100%);
}
.marker.purple {
  fill: purple;
}
.marker.red {
  fill: rgb(160, 23, 23);
}
.popup {
  max-width: 400px;
  padding: 0.5rem;
}
.entry-form {
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.entry-form div {
  width: 100%;
  margin: 0.2rem auto;
}
.entry-form > div > input,
.entry-form > div > textarea {
  width: 90%;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
}
#rating {
  padding: 0.5rem;
  font-size: 1.3rem;
}
.entry-form button {
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
}
.entry-form button {
  background-color: rgb(160, 23, 23);
  color: white;
  border: none;
  border-radius: 1rem;
}

.image {
  max-height: 200px;
  width: auto;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 1000px) {
  .image {
    max-height: 150px;
  }
  .popup {
    max-width: 300px;
    padding: 0.1rem;
  }
  .entry-form {
    width: 65vw;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 0.5rem;
  }
  .entry-form div {
    width: 100%;
    margin: 0.2rem 0;
  }
  .entry-form div input,
  .entry-form div textarea {
    margin: 0;
    padding: 0.2rem;
    font-size: 1.1rem;
  }
  #rating {
    padding: 0.2rem;
    font-size: 1rem;
  }
  .entry-form button {
    margin: 0.5rem auto;
    background-color: rgb(160, 23, 23);
    grid-column: 1/3;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 650px) {
  .image {
    max-height: 150px;
  }
  .popup {
    max-width: 300px;
    padding: 0.1rem;
  }
  .entry-form {
    display: flex;
    flex-direction: column;
    width: 65vw;
    font-size: 1rem;
  }
  .entry-form div {
    width: 100%;
    margin: 0.2rem auto;
  }
  .entry-form > div > input,
  .entry-form > div > textarea {
    margin: 0;
    padding: 0.2rem;
    width: 100%;
  }
  #rating {
    padding: 0.2rem;
    font-size: 1rem;
  }
}
